-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: uas_basdat
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `businesses`
--

LOCK TABLES `businesses` WRITE;
/*!40000 ALTER TABLE `businesses` DISABLE KEYS */;
INSERT INTO `businesses` VALUES (1,1,1,'kopi senja','kuliner','2022-01-10','active'),(2,2,2,'keripik makmur','makanan ringan','2021-06-15','active'),(3,3,2,'batik lestari','fashion','2020-03-20','active'),(4,4,3,'laundry bersih','jasa','2023-02-01','active'),(5,5,4,'sayur organik kita','pertanian','2022-09-12','active'),(6,6,1,'bakso pak fauzi','kuliner','2025-12-29','active');
/*!40000 ALTER TABLE `businesses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `entrepreneurs`
--

LOCK TABLES `entrepreneurs` WRITE;
/*!40000 ALTER TABLE `entrepreneurs` DISABLE KEYS */;
INSERT INTO `entrepreneurs` VALUES (1,1,'male','sma','2023-01-15'),(2,2,'female','d3','2023-02-20'),(3,3,'male','s1','2023-03-25'),(4,4,'female','sma','2023-04-05'),(5,5,'male','s1','2023-05-30'),(6,6,'male','sma','2025-12-29');
/*!40000 ALTER TABLE `entrepreneurs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `expenses`
--

LOCK TABLES `expenses` WRITE;
/*!40000 ALTER TABLE `expenses` DISABLE KEYS */;
INSERT INTO `expenses` VALUES (1,1,'bahan baku',500000.00,'2024-01-05'),(2,2,'produksi',400000.00,'2024-01-08'),(3,3,'produksi',600000.00,'2024-01-12'),(4,4,'listrik',200000.00,'2024-01-15'),(5,5,'transportasi',250000.00,'2024-01-20');
/*!40000 ALTER TABLE `expenses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `growth_indicators`
--

LOCK TABLES `growth_indicators` WRITE;
/*!40000 ALTER TABLE `growth_indicators` DISABLE KEYS */;
INSERT INTO `growth_indicators` VALUES (1,1,'2024-01-01',471000.00,321000.00,5.20),(2,2,'2024-01-01',200000.00,-200000.00,-1.50),(3,3,'2024-01-01',750000.00,150000.00,3.80),(4,4,'2024-01-01',210000.00,10000.00,0.00),(5,5,'2024-01-01',400000.00,150000.00,6.10);
/*!40000 ALTER TABLE `growth_indicators` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `products`
--

LOCK TABLES `products` WRITE;
/*!40000 ALTER TABLE `products` DISABLE KEYS */;
INSERT INTO `products` VALUES (1,1,'kopi susu gula aren',8000.00,15000.00),(2,1,'kopi hitam',6000.00,12000.00),(3,2,'keripik singkong',5000.00,10000.00),(4,3,'kemeja batik',75000.00,150000.00),(5,4,'laundry kiloan',4000.00,7000.00),(6,5,'paket sayur',10000.00,16000.00),(7,6,'bakso urat',10000.00,16000.00);
/*!40000 ALTER TABLE `products` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `regions`
--

LOCK TABLES `regions` WRITE;
/*!40000 ALTER TABLE `regions` DISABLE KEYS */;
INSERT INTO `regions` VALUES (1,'jakarta','provinsi'),(2,'bandung','kota'),(3,'surabaya','kota'),(4,'yogyakarta','kota');
/*!40000 ALTER TABLE `regions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `sales_transactions`
--

LOCK TABLES `sales_transactions` WRITE;
/*!40000 ALTER TABLE `sales_transactions` DISABLE KEYS */;
INSERT INTO `sales_transactions` VALUES (1,1,10,150000.00,'2024-01-05'),(2,2,8,96000.00,'2024-01-12'),(3,3,20,200000.00,'2024-01-08'),(4,4,5,750000.00,'2024-01-10'),(5,5,30,210000.00,'2024-01-15');
/*!40000 ALTER TABLE `sales_transactions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `training_participation`
--

LOCK TABLES `training_participation` WRITE;
/*!40000 ALTER TABLE `training_participation` DISABLE KEYS */;
INSERT INTO `training_participation` VALUES (1,1,1,'completed'),(2,2,1,'completed'),(3,3,2,'completed'),(4,4,2,'registered');
/*!40000 ALTER TABLE `training_participation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `trainings`
--

LOCK TABLES `trainings` WRITE;
/*!40000 ALTER TABLE `trainings` DISABLE KEYS */;
INSERT INTO `trainings` VALUES (1,'manajemen keuangan umkm','dinas koperasi','2024-02-01'),(2,'pemasaran digital','kominfo','2024-03-10');
/*!40000 ALTER TABLE `trainings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'andi saputra','andi@mail.com','entrepreneur','hash1','2023-01-10'),(2,'siti nurhaliza','siti@mail.com','entrepreneur','hash2','2023-02-12'),(3,'budi santoso','budi@mail.com','entrepreneur','hash3','2023-03-15'),(4,'rina kartika','rina@mail.com','entrepreneur','hash4','2023-04-01'),(5,'agung prasetyo','agung@mail.com','entrepreneur','hash5','2023-05-20'),(6,'ahmad fauzi','ahmad@mail.com','entrepreneur','hash123','2025-12-29');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-12-29  6:53:00
